APP_NAME = LogFlux Gitea
RUN_MODE = prod
RUN_USER = git

[server]
PROTOCOL = http
HTTP_PORT = 3000
DOMAIN = localhost
ROOT_URL = http://localhost:3000/
SSH_DOMAIN = localhost
SSH_PORT = 2222

[database]
DB_TYPE = sqlite3
PATH = /data/gitea/gitea.db

[service]
DISABLE_REGISTRATION = true

[actions]
ENABLED = true
